body {
    padding-top: 70px; 
    font-family: "Gisha","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.portfolio-item {
    margin-bottom: 25px;
}

footer {
    margin: 50px 0;
}

hr {
	border-top: 1px solid #235784;
}

html body {
    background-color: #000000;

}

.pagination>li>a, .pagination>li>span {
	color: #ffffff;
    text-decoration: none;
    background-color: #000000;
    border: 1px solid #337AB7;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}
.thumbnail {
	background-color: #000000;
	border: 1px solid #000000;
}

.jumbotron {
	background-color: #000000;
	color: #337AB7;
  padding-top: 0px;
  padding-bottom: 0px;

}
.navbar-brand {
  background-color: #337AB7;
  background-image: none;
  background-repeat: no-repeat;
  color: #000000;
  border-color: transparent;
 }

 .navbar-inverse {
  background-color: #337AB7;
  background-image: none;
  background-repeat: no-repeat;
  border-color: transparent;
 }

 .navbar-inverse .navbar-nav>li>a {
    color: #000000;
}

.navbar-inverse .navbar-brand {
    color: #000000;
}

.thumbnail .caption {
    padding: 9px;
    color: #337AB7;
    text-align: center;
}

.padding {
	padding-left: 15px;
	padding-right: 15px;

}

#copycolor {
	color: #6D6D6D;
}

.sources-h3 {
  color: #6D6D6D;
}